<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <!--
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    -->

    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html;">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <style>
      body {
        font-family: helvetica, sans-serif;
        background-color: #B2BABC;
      }

      #navbar {
        background-color: #F8FAF9;
        border-radius: 10px;
        height: 120px;
        margin: 10px;
      }
    </style>

    {% endblock %}
  </head>
  <body>
    {% block body %}

      <!-- Navbar -->
      <nav class="navbar" id="navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <h5><b>Primer Design</b></h5>
            <button type="button" class="btn btn-primary btn-md" id="aboutButton">About</button>
            <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#cite_modal">Cite</button>
            <button type="button" class="btn btn-warning btn-md" data-toggle="modal" data-target="#help_modal">Help</button>
            <a href="{{ url_for('nestedloop') }}" class="btn btn-primary">Nested Loop</a>
            <a href="{{ url_for('starp') }}" class="btn btn-primary">Starp</a>
          </div>
        </div>
      </nav>

      <!-- Citation Modal -->
      <div class="modal fade" id="cite_modal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">How to Cite</h4>
            </div>
            <div class="modal-body">
              <p>This modal will contain information on how to cite this program.</p>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="help_modal" role="dialog">
        <!-- Help Modal.-->
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Help</h4>
            </div>
            <div class="modal-body">
              {% block help_modal_info %}
              {% endblock %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    <script>
      var aboutButton = document.getElementById('aboutButton');

      aboutButton.addEventListener('click', homepageRedirect);

      function homepageRedirect() {
        window.location.href = "{{ url_for('homepage') }}";
      }

    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% endblock %}
  </body>
</html>
