{% extends "base.html" %}
{% block head %}
    <title>Nested Loop Primer Design</title>
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='nestedloop.css')}}">
    <script src="{{ url_for('static', filename='nestedloop.js') }}"></script>

<script>

    $(document).ready(function() {

      $("#output").modal('show');
    });

</script>
{% endblock %}

{% block body %}
  {{ super() }}

  <div class="container-fluid">
    <div id="nestedloop_form">
      <form action="{{ url_for('run_nestedloop') }}" method="post" target="_blank" onsubmit="return validateForm()">

      <div class="form-group">
        <div class="input-group">
          <textarea name="ref_sequence" class="form-control" id="ref_sequence" maxlength="20000" placeholder="Reference Sequence" type="text" onchange="validateForm()" value="{{ ref_sequence }}">{% if ref_sequence %}{{ ref_sequence }}{% endif %}</textarea>
        </div>
        <div id="fasta_upload_div">
          <input id="fasta_upload_input" type="file" onchange="update_reference_sequence()">
        </div>
      </div>

      <div class="form-group">
        Specificity Checking (Recommended) <input type="checkbox" id="nontarget_checkbox" onclick="toggle_nontargets()" >
        <div id="nontarget_div" style="display: none;">
          <a href="#blast">Need to perform a BLAST?</a>
          <div class="input-group">
            <textarea name="nontargets" class="form-control" id="nontargets" placeholder="Paste non-target BLAST data here in XML format. For more information, click the 'Help' tab above." rows="6" cols="80" onchange="validateForm()">{% if nontargets %}{{ nontargets }}{% endif %}</textarea>
          </div>
          <div id="xml_upload_div">
            <input id="xml_upload_input" type="file" onchange="update_nontargets()">
          </div>
        </div>
      </div>

      <!-- Data Input Form -->
      <table class="table" id="nestedloop_input_table">
        <tbody>
          <tr>
            <td>Region for Forward Primer</td>
            <td>
              <div class="container" style="display: flex; flex-direction: row; padding-left: 0;">
                <div style="padding-right: 1em">
                  <div>From</div>
                  <div>
                    {% if session %}
                      <input name="fFrom" class="form-control" id="fFrom" required="true" type="number" min="1" value="{{ session['f_from'] }}">
                    {% else %}
                      <input name="fFrom" class="form-control" id="fFrom" required="true" type="number" min="1" value="1">
                    {% endif %}
                  </div>
                </div>
                <div>
                  <div>To</div>
                  <div class="input-group">
                    {% if session %}
                      <input name="fTo" class="form-control" id="fTo" required="" type="number" min="1" onchange="validateForm()" value="{{ session['f_to'] }}">
                    {% else %}
                      <input name="fTo" class="form-control" id="fTo" required="" type="number" min="1" value="1" onchange="validateForm()">
                    {% endif %}
                    <div class="input-group-append">
                      <button class="input-group-text btn" type="button" onclick="populate_with_length('fTo')">Max</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Region for Reverse Primer</td>
            <td>
              <div class="container" style="display: flex; flex-direction: row; padding-left: 0;">
                <div style="padding-right: 1em">
                  <div>From</div>
                  <div>
                    {% if session %}
                      <input name="rFrom" class="form-control" id="rFrom" required="" type="number" min="1" value="{{ session['r_from'] }}" onchange="validateForm()">
                    {% else %}
                      <input name="rFrom" class="form-control" id="rFrom" required="" type="number" min="1" value="1" onchange="validateForm()">
                    {% endif %}
                  </div>
                </div>
                <div>
                  <div>To</div>
                  <div class="input-group">
                    {% if session %}
                      <input name="rTo" class="form-control" id="rTo" required="" type="number" min="1" value="{{ session['r_to'] }}" onchange="validateForm()">
                    {% else %}
                      <input name="rTo" class="form-control" id="rTo" required="" type="number" min="1" value="1" onchange="validateForm()">
                    {% endif %}
                    <div class="input-group-append">
                      <button class="input-group-text btn" type="button" onclick="populate_with_length('rTo')">Max</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Amplicon Length</td>
            <td>
              <div class="container" style="display: flex; flex-direction: row; padding-left: 0;">
                <div style="padding-right: 1em">
                  {% if session %}
                    Minimum <input name="pcr_min" class="form-control" id="ampliconLengthMin" type="number" min="1" max="20000" value="{{ session['pcr_min'] }}" onchange="validateForm()">
                  {% else %}
                    Minimum <input name="pcr_min" class="form-control" id="ampliconLengthMin" type="number" min="1" max="20000" value="3000" onchange="validateForm()">
                  {% endif %}
                </div>
                <div>
                  {% if session %}
                    Maximum <input name="pcr_max" class="form-control" id="ampliconLengthMax" type="number" min="1" max="20000" value="{{ session['pcr_max'] }}" onchange="validateForm()">
                  {% else %}
                    Maximum <input name="pcr_max" class="form-control" id="ampliconLengthMax" type="number" min="1" max="20000" value="8000" onchange="validateForm()">
                  {% endif %}
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Number of Pairs to Return</td>
            <td>
              {% if session %}
                <input name="num_to_return" class="form-control" id="num_to_return" style="width: 4rem" required="" type="number" min="1" value="{{ session['num_to_return'] }}" onchange="validateForm()">
              {% else %}
                <input name="num_to_return" class="form-control" id="num_to_return" style="width: 4rem" required="" type="number" min="1" value="5" onchange="validateForm()">
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Melting Temperature</td>
            <td>
              <div class="container" style="display: flex; flex-direction: row; padding-left: 0;">
                <div style="padding-right: 1em">
                  {% if session %}
                    Minimum <input name="tm_min" class="form-control" id="tmMin" style="width: 4rem" required type="number" min="35.0" max="72.5" step="any" value="{{ session['tm']['min'] }}" onchange="validateForm()">
                  {% else %}
                    Minimum <input name="tm_min" class="form-control" id="tmMin" style="width: 4rem" required type="number" min="35.0" max="72.5" step="any" value="54.0" onchange="validateForm()">
                  {% endif %}
                </div>
                <div style="padding-right: 1em">
                  {% if session %}
                    Optimum <input name="tm_opt" class="form-control" id="tmOpt" style="width: 4rem" required type="number" min="35.0" max="72.5" step="any" value="{{ session['tm']['opt'] }}" onchange="validateForm()">
                  {% else %}
                    Optimum <input name="tm_opt" class="form-control" id="tmOpt" style="width: 4rem" required type="number" min="35.0" max="72.5" step="any" value="56.0" onchange="validateForm()">
                  {% endif %}
                </div>
                <div>
                  {% if session %}
                    Maximum <input name="tm_max" class="form-control" id="tmMax" style="width: 4rem" required type="number" min="35.0" max="72.5" step="any" value="{{ session['tm']['max'] }}" onchange="validateForm()">
                  {% else %}
                    Maximum <input name="tm_max" class="form-control" id="tmMax" style="width: 4rem" required type="number" min="35.0" max="72.5" step="any" value="58.0" onchange="validateForm()">
                  {% endif %}
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Custom Forward Primer<br>(Optional)</td>
            <td>
              {% if session %}
                <input name="forward_primer" class="form-control" id="forward_primer" type="text" value="{{ session['forward_primer'] }}">
              {% else %}
                <input name="forward_primer" class="form-control" id="forward_primer" type="text" value="">
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Custom Reverse Primer<br>(Optional)</td>
            <td>
              {% if session %}
                <input name="reverse_primer" class="form-control" id="reverse_primer" type="text" value="{{ session['reverse_primer'] }}">
              {% else %}
                <input name="reverse_primer" class="form-control" id="reverse_primer" type="text" value="">
              {% endif %}
            </td>
          </tr>

        </tbody>
      </table>

      {% if errors %}
        <ul class="errors">
          {% for error in errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      <input name="submit" class="btn btn-primary" id="submit" type="submit" value="Find Primers">

      <br>
      </form>
      <!-- End Input Form -->
    </div>

    <!-- Embedded Blast -->
    <div id="blast">
      <h2>BLAST</h2>
      Website
      <select id="website_selector" onchange="change_blast_site()">
        <option value=""></option>
        <option value="ncbi">NCBI</option>
        <option value="graingenes">Grain Genes Wheat</option>
        <option value="atgsp">ATGSP</option>
      </select>

      <br>

      <!-- Height is modified when the user picks a site. -->
      <iframe src="" height="0" id="embedded_blast"></iframe>
    </div>
    <!-- End Embedded Blast -->
  </div>
{% endblock %}

{% block help_modal_info %}
  <h4>Reference Sequence</h4>
  <p>Enter a FASTA formatted DNA sequence.</p>
  <h4>Specificity Checking</h4>
  <p>Some sequences may have repetitive regions throughout the genome. Due to these repeats,
  it is undesirable to create primers in them since they will have multiple binding sites
  during the PCR process. The non-targets box should contain BLAST data in XML format of the
  other aligned sequences throughout the same genome.</p>
  <h4>Using custom primers</h4>
  <p>If you already have a primer you wish to use, you may specify it as a forward or reverse primer.
    Keep in mind that the forward primers should be oriented 5'->3' on the <u>plus</u> strand, and the reverse
    primers should be oriented 5'->3' on the <u>minus</u> strand.</p>
{% endblock %}
