{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <title>STARP Primer Design</title>
  <style>
    #form-wrapper {
      width: 800px;
      left: 0;
      right: 0;
      margin: auto;
      background-color: #f8faf9;
      border-radius: 10px;
      padding: 10px;
      margin-top: 10px;
    }

    #input_data {
      font-size: 12px;
      height: 200px;
    }

    #non_targets {
      font-size: 12px;
      height: 200px;
    }

    #snp_picker p {
      font-family: monospace;
    }

    #snp_picker button:hover {
      background-color: red !important;
      transition: background-color .75s;
    }

    #xml_upload_div {
      float: right;
    }

    #upload_xml_button {
        position: absolute;
        z-index: 100;
        top: 70%;
        left: 78%;
      }
  </style>

  <script>
    $(document).ready(function() {
      $("#snp_picker").modal('show');
      $("#results").modal('show');
    });

    function update_nontargets() {
      const reader = new FileReader();
      var file = document.getElementById('xml_upload_input').files[0]

      allowedExtensions = /(\.xml)$/i;

      if (allowedExtensions.exec(file.name)) {
            reader.readAsText(file);
            reader.onload = function(e) {
                document.getElementById("non_targets").innerText = reader.result;
            }
        } else {
            alert("Allowed file extension is .xml.");
        }
    }
  </script>
{% endblock %}

{% block body %}
  {{ super() }}
  <div class="container-fluid">
    <div id="form-wrapper">
      <form action="{{ url_for('starp_post') }}" method="post">
        <div>
          <textarea name="input_data" class="form-control" id="input_data" required="" placeholder="Place SNP Sequence Here" rows="8" cols="80">{% if sequence_data %}{{ sequence_data }}{% endif %}</textarea>
        </p>

        <div class="form-group">
          <div id="non_target_div">
            <div class="input-group">
              <textarea name="non_targets" class="form-control" id="non_targets" placeholder="Paste non-target BLAST data here in XML format. For more information, click the 'Help' tab above." rows="6" cols="80">{% if nontargets %}{{ nontargets }}{% endif %}</textarea>
            </div>
            <div id="xml_upload_div">
              <input id="xml_upload_input" type="file" onchange="update_nontargets()">
            </div>
          </div>
        </div>

        {% if errors %}
          <ul class="errors">
            {% for error in errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <input name="submit" class="btn btn-primary" id="submit" type="submit" value="Submit">
        <p style="color: red;">Note that large sequences with large nontarget data may cause the server to time out.</p>
      </form>

    </div>

    {% if snp_gui is defined %}
    <!-- SNP Picker Display -->
    <div class="modal fade" id="snp_picker" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <div class="modal-header">
            <h2>Choose a SNP</h2>
          </div>

          <div class="modal-body">
            <form action="{{ url_for('starp_post') }}" method="post">
              <div>{{ snp_gui|safe }}</div>
              <textarea style="display: none;" id="input_data" name="input_data">{{ sequence_data }}</textarea>
              <textarea style="display: none;" id="non_targets" name="non_targets">{{ nontargets }}</textarea>
            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
    {% endif %}

    {% if starp is defined %}
    <!-- Display Results -->
    <div class="modal fade" id="results" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2>Results</h2>
          </div>

          <div class="modal-body">
            {% if starp.upstream_pairs %}
            <h4>Upstream AMAS Primers</h4>
            <hr>
            <table>
              <th>Name</th>
              <th>Sequence</th>
              <th>Span</th>

              {% for pair in starp.upstream_pairs %}
                <tr>
                  <td><b>AMAS 1</b></td>
                  <td>{{ pair[0][0].__str__() }}</td>
                  <td>{{ pair[0][0].span }}</td>
                </tr>
                <tr>
                  <td><b>AMAS 2</b></td>
                  <td>{{ pair[0][1].__str__() }}</td>
                  <td>{{ pair[0][1].span }}</td>
                </tr>
                <tr>
                  <td><b>Reverse Primer</b></td>
                  <td>{{ pair[1].sequence }}</td>
                  <td>
                    Allele 1: {{ pair[1].allele1_span }}
                    <br>
                    Allele 2: {{ pair[1].allele2_span }}
                  </td>
                </tr>
              {% endfor %}
            </table>
            <br>
            {% endif %}

            {% if starp.downstream_pairs %}
            <h4>Downstream AMAS Primers</h4>
            <hr>
            <table>
              <th>Name</th>
              <th>Sequence</th>
              {% for pair in starp.downstream_pairs %}
                <tr>
                  <td><b>AMAS 1</b></td>
                  <td>{{ pair[0][0].__str__() }}</td>
                  <td>{{ pair[0][0].span }}</td>
                </tr>
                <tr>
                  <td><b>AMAS 2</b></td>
                  <td>{{ pair[0][1].__str__() }}</td>
                  <td>{{ pair[0][1].span }}</td>
                </tr>
                <tr>
                  <td><b>Reverse Primer</b></td>
                  <td>{{ pair[1].sequence }}</td>
                  <td>
                    Allele 1: {{ pair[1].allele1_span }}
                    <br>
                    Allele 2: {{ pair[1].allele2_span }}
                  </td>
                </tr>
              {% endfor %}
            </table>
            {% endif %}
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}
