{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <title>STARP Primer Design</title>
  <style>
    #form-wrapper {
      width: 800px;
      left: 0;
      right: 0;
      margin: auto;
      background-color: #f8faf9;
      border-radius: 10px;
      padding: 10px;
      margin-top: 10px;
    }

    #input_data {
      font-size: 12px;
      height: 200px;
    }

    #non_targets {
      font-size: 12px;
      height: 200px;
    }

    #snp_picker p {
      font-family: monospace;
    }

    #snp_picker button:hover {
      background-color: red !important;
      transition: background-color .75s;
    }

    #upload_xml_button {
        position: absolute;
        z-index: 100;
        top: 70%;
        left: 78%;
      }
  </style>

  <script>
    $(document).ready(function() {
      $("#snp_picker").modal('show');
      $("#results").modal('show');
    });

    function get_file() {
        var file = document.createElement("input");
        file.setAttribute("type", "file");
        file.click();
        return file.files[0];
    }

    function open_xml_file() {
        const reader = new FileReader();
        var file = get_file();
        
        allowedExtensions = /(\.xml)$/i;

        if (allowedExtensions.exec(file.name)) {
            reader.readAsText(file);
            reader.onload = function(e) {
                document.getElementById("non_targets").innerText = reader.result;
            }
        } else {
            alert("Allowed file extension is XML.");
        }
    }
  </script>
{% endblock %}

{% block body %}
  {{ super() }}
  <div class="container-fluid">
    <div id="form-wrapper">
      <form action="{{ url_for('starp_post') }}" method="post">
        <p>{{ form.input_data(class="form-control", placeholder="Place SNP Sequence Here", rows='8', cols='80') }}</p>

        <div class="form-group">
          <div id="non_target_div">
            <div class="input-group">
              <button class="btn btn-info" id="upload_xml_button" type="button" onclick="open_xml_file()">Upload XML File</button>
              {{ form.non_targets(class="form-control", rows='6', cols='80',
                  placeholder="Paste non-target BLAST data here in XML format. For more information, click the 'Help' tab above.") }}
            </div>
          </div>
        </div>

        {% if form.errors.items() %}
          <ul class="errors">
            {% for fieldName, errorMessages in form.errors.items() %}
              {% for error in errorMessages %}
                <li>{{ error }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
        {% endif %}
        <p>{{ form.submit(class="btn btn-primary") }}</p>
      </form>

    </div>

    <!-- SNP Picker Display -->
    {% if snp_gui is defined %}
    <div class="modal fade" id="snp_picker" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <div class="modal-header">
            <h2>Choose a SNP</h2>
          </div>

          <div class="modal-body">
            <form action="{{ url_for('starp_post') }}" method="post">
              <div>{{ snp_gui|safe }}</div>
              <!-- Necessary to persist form data between requests.
              This gives the appearance of AJAX updates while new
              templates are loaded. -->
              <div style="display: none">
                {{ form.input_data(rows='8', cols='80') }}
                {{ form.submit }}
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
    {% endif %}

    <!-- Display Results -->
    {% if starp is defined %}
    <div class="modal fade" id="results" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2>Results</h2>
          </div>

          <div class="modal-body">
            {% if starp.upstream_pairs %}
            <h4>Upstream AMAS Primers</h4>
            <hr>
            <table>
              <th>Name</th>
              <th>Sequence</th>

              {% for pair in starp.upstream_pairs %}
                <tr>
                  <td><b>AMAS 1</b></td>
                  <td>
                    {{ pair[0][0].tail }}<u>{{ pair[0][0].sequence }}</u>
                  </td>
                </tr>
                <tr>
                  <td><b>AMAS 2</b></td>
                  <td>
                    {{ pair[0][1].tail }}<u>{{ pair[0][1].sequence }}</u>
                  </td>
                </tr>
                <tr>
                  <td><b>Reverse Primer</b></td>
                  <td>
                    {{ pair[1].sequence }}
                  </td>
                </tr>
              {% endfor %}
            </table>
            <br>
            {% endif %}

            {% if starp.downstream_pairs %}
            <h4>Downstream AMAS Primers</h4>
            <hr>
            <table>
              <th>Name</th>
              <th>Sequence</th>
              {% for pair in starp.downstream_pairs %}
                <tr>
                  <td><b>AMAS 1</b></td>
                  <td>
                    {{ pair[0][0].tail }}<u>{{ pair[0][0].sequence }}</u>
                  </td>
                </tr>
                <tr>
                  <td><b>AMAS 2</b></td>
                  <td>
                    {{ pair[0][1].tail }}<u>{{ pair[0][1].sequence }}</u>
                  </td>
                </tr>
                <tr>
                  <td><b>Reverse Primer</b></td>
                  <td>
                    {{ pair[1].sequence }}
                  </td>
                </tr>
              {% endfor %}
            </table>
            {% endif %}
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}
