{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <title>STARP Primer Design</title>
  <style>
    #form-wrapper {
      width: 800px;
      left: 0;
      right: 0;
      margin: auto;
      background-color: #f8faf9;
      border-radius: 10px;
      padding: 10px;
      margin-top: 10px;
    }

    #input_data {
      font-size: 12px;
      height: 200px;
    }

    #nontargets {
      font-size: 12px;
      height: 200px;
    }

    #snp_picker p {
      font-family: monospace;
    }

    #snp_picker button:hover {
      background-color: red !important;
      transition: background-color .75s;
    }

    #xml_upload_div {
      float: right;
    }

    #upload_xml_button {
        position: absolute;
        z-index: 100;
        top: 70%;
        left: 78%;
      }
  </style>

  <script>
    $(document).ready(function() {
      $("#snp_picker").modal('show');
      $("#results").modal('show');
    });

    function update_nontargets() {
      const reader = new FileReader();
      var file = document.getElementById('xml_upload_input').files[0]

      allowedExtensions = /(\.xml)$/i;

      if (allowedExtensions.exec(file.name)) {
            reader.readAsText(file);
            reader.onload = function(e) {
                document.getElementById("nontargets").innerText = reader.result;
            }
        } else {
            alert("Allowed file extension is .xml.");
        }
    }

    function formatSnpSequence() {
      data = document.getElementById('input_data').value;
      // Replace all carriage returns with line feeds.
      data = data.replace(new RegExp('\r', 'g'), '\n');
      // Remove excessive new lines.
      data = data.replace(new RegExp('(\n){2,}', 'g'), '\n');
      // Remove all spaces.
      data = data.replace(' ', '');

      // Regex look behinds are not supported by all browsers so care
      // is taken to remove new lines from sequences.
      correctFormat = '';
      lines = data.split('\n');
      for (var i=0; i < lines.length; i++) {

        if (lines[i].startsWith('>')) {
          // Add the allele name followed by a \n.
          correctFormat = correctFormat + lines[i] + '\n';
          continue;
        }

        if (lines[i+1]) {
          if (lines[i+1].startsWith('>')) {
            // Add new line if beginning second allele.
            correctFormat = correctFormat + lines[i] + '\n';
          } else {
            // Else the sequence is just taking up multiple lines.
            correctFormat = correctFormat + lines[i];
          }
        } else {
          correctFormat = correctFormat + lines[i]
        }
      }

      document.getElementById('input_data').value = correctFormat;
      return true;
    }
  </script>
{% endblock %}

{% block body %}
  {{ super() }}
  <div class="container-fluid">
    <div id="form-wrapper">
      <!--<form action="{{ url_for('starp_post') }}" method="post" onsubmit="return formatSnpSequence()">-->
      <form action="{{ url_for('starp_post') }}" method="post" target="_blank">
        <div>
          <textarea name="input_data" class="form-control" id="input_data" required="" placeholder="Place SNP Sequence Here" rows="8" cols="80" font-family="">{% if input_data %}{{ input_data }}{% endif %}</textarea>
        </p>

        <div class="form-group">
          <div id="non_target_div">
            <div class="input-group">
              <textarea name="nontargets" class="form-control" id="nontargets" placeholder="Paste non-target BLAST data here in XML format. For more information, click the 'Help' tab above." rows="6" cols="80" >{% if nontargets %}{{ nontargets }}{% endif %}</textarea>
            </div>
            <div id="xml_upload_div">
              <input id="xml_upload_input" type="file" onchange="update_nontargets()">
            </div>
          </div>
        </div>

        {% if errors %}
          <ul class="errors">
            {% for error in errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <input name="automatic" class="btn btn-primary" id="automatic_button" type="submit" value="Automatic" formtarget="_blank">
        <input name="manual" class="btn btn-primary" id="manual_button" type="submit" value="Manual" formtarget="_blank">
        <p style="color: red;">Note that large sequences with large nontarget data may cause the server to time out.</p>
      </form>

    </div>

    {% if snp_gui is defined %}
    <!-- SNP Picker Display -->
    <div class="modal fade" id="snp_picker" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <div class="modal-header">
            <h2>Choose a SNP</h2>
          </div>

          <div class="modal-body">
            <form action="{{ url_for('starp_post') }}" method="post">
              <div>{{ snp_gui|safe }}</div>
              <textarea style="display: none;" id="input_data" name="input_data">{{ input_data }}</textarea>
              <textarea style="display: none;" id="nontargets" name="nontargets">{{ nontargets }}</textarea>
            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
    {% endif %}

    {% if starp is defined %}
    <!-- Display Results -->
    <div class="modal fade" id="results" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2>Results</h2>
          </div>

          <div class="modal-body">
            {% if starp.upstream_pairs %}
            <h4>Upstream AMAS Primers</h4>
            <hr>
            <table>
              <th>Name</th>
              <th>Sequence</th>
              <th>Span</th>
              <th>Melting Temp</th>

              {% for pair in starp.upstream_pairs %}
                <tr>
                  <td><b>AMAS 1</b></td>
                  <td>{{ pair[0][0].html() | safe }}</td>
                  <td>{{ pair[0][0].span[0] }}-{{ pair[0][0].span[1] }}</td>
                  <td>{{ pair[0][0].tm | round(2) }} &#8451;</td>
                </tr>
                <tr>
                  <td><b>AMAS 2</b></td>
                  <td>{{ pair[0][1].html() | safe }}</td>
                  <td>{{ pair[0][1].span[0] }}-{{ pair[0][1].span[1] }}</td>
                  <td>{{ pair[0][1].tm | round(2) }} &#8451;</td>
                </tr>
                <tr>
                  <td><b>Reverse Primer</b></td>
                  <td>{{ pair[1].sequence }}</td>
                  <td>
                    Allele 1: {{ pair[1].allele1_span[0] }}-{{ pair[1].allele1_span[1] }}
                    <br>
                    Allele 2: {{ pair[1].allele2_span[0] }}-{{ pair[1].allele2_span[1] }}
                  </td>
                  <td>{{ pair[1].tm | round(2) }} &#8451;</td>
                </tr>
              {% endfor %}
            </table>
            <br>
            {% endif %}

            {% if starp.downstream_pairs %}
            <h4>Downstream AMAS Primers</h4>
            <hr>
            <table>
              <th>Name</th>
              <th>Sequence</th>
              {% for pair in starp.downstream_pairs %}
                <tr>
                  <td><b>AMAS 1</b></td>
                  <td>{{ pair[0][0].html() | safe }}</td>
                  <td>{{ pair[0][0].span[0] }}-{{ pair[0][0].span[1] }}</td>
                  <td>{{ pair[0][0].tm | round(2) }} &#8451;</td>
                </tr>
                <tr>
                  <td><b>AMAS 2</b></td>
                  <td>{{ pair[0][1].html() | safe }}</td>
                  <td>{{ pair[0][1].span[0] }}-{{ pair[0][1].span[1] }}</td>
                  <td>{{ pair[0][1].tm | round(2) }} &#8451;</td>
                </tr>
                <tr>
                  <td><b>Reverse Primer</b></td>
                  <td>{{ pair[1].sequence }}</td>
                  <td>
                    Allele 1: {{ pair[1].allele1_span[0] }}-{{ pair[1].allele1_span[1] }}
                    <br>
                    Allele 2: {{ pair[1].allele2_span[0] }}-{{ pair[1].allele2_span[1] }}
                  </td>
                  <td>{{ pair[1].tm | round(2) }} &#8451;</td>
                </tr>
              {% endfor %}
            </table>
            {% endif %}
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}

{% block help_modal_info %}
  <h4>Acceptable formats</h4>
  <p>Snp sequences can be entered in one of two ways.</p>
  <p>One way is to use square brackets to specify SNPs. For example, the following snippet denotes a substitution SNP.<br>
  <code>GTACTGACTGAT[T/A]CGAT</code><br>
  This notation can also denote insertion and deletion SNPs.<br>
  <code>GTACTGACTGAT[-/A]CGAT</code><br>
  <code>GTACTGACTGAT[T/-]CGAT</code></p>

  <p>The second notation is to input two equal-length sequences.<br>
  <code>>Allele1<br>
        GTACTGACTGATTCGAT<br>
        >Allele2<br>
        GTACTGACTGAT-CGAT</code>

  <h4>Non-target BLAST data</h4>
  <p>It is possible to include non-target data in STARP. It is highly recommended to use XML data rather than the human-readable notation.</p>
{% endblock %}