{% extends "base.html" %}
{% block head %}
    {% block title %}<title>Nested Loop Primer Design</title>{% endblock %}
    {{ super() }}
    <style>
        #nestedloop_form {
        width: 800px;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #F8FAF9;
        border-radius: 10px;
        padding: 10px;
        margin-top: 10px;
      }

      #ref_sequence {
        font-size: 12px;
        height: 200px;
      }

      #non_targets {
        font-size: 12px;
        height: 200px;
      }

      #upload_fasta_button {
        position: absolute;
        z-index: 100;
        top: 70%;
        left: 76%;
      }

      #upload_xml_button {
        position: absolute;
        z-index: 100;
        top: 70%;
        left: 78%;
      }

      #blast {
        width: 800px;
        background-color: #F8FAF9;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 10px;
        border-radius: 10px;
        padding: 10px;
      }

      #embedded_blast {
        width: 100%;
        border: none;
        margin-top: 10px;
      }

      #output_table {
        background-color: #F8FAF9;
        border-radius: 10px;
        padding: 10px;

        left: 0;
        right: 0;
        margin: auto;
        margin-top: 10px;
      }

      #navigation {
        padding: 10px;
        background-color: #F8FAF9;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 60px;
        border-radius: 10px;
        width: 100%;
      }

      #fTo, #fFrom, #rFrom, #rTo, #ampliconLengthMin, #ampliconLengthMax, #num_to_return, #tmMin, #tmOpt, #tmMax {
        width: 5em;
      }

    </style>
    
<script>

    $(document).ready(function() {

      $("#output").modal('show');
    });

    function toggle_non_targets() {
        var nontarget_div = document.getElementById("non_target_div")
        var nontarget_checkbox = document.getElementById("nontargets_checkbox");

        if (nontarget_checkbox.checked) {
            nontarget_div.style.display = "block";
        } else {
            nontarget_div.style.display = "none";
            document.getElementById("non_targets").innerText = "";
        }
    }

    function change_blast_site() {
        // Change the embedded BLAST website.
        site = document.getElementById('website_selector').value;
        embedded_frame = document.getElementById('embedded_blast');
        var website_height = "800";

        if (site == "") {
            embedded_frame.display = "none";
            embedded_frame.src = "";
            embedded_frame.height = "0";
        }

        if (site == "ncbi") {
            embedded_frame.src = "https://blast.ncbi.nlm.nih.gov/Blast.cgi?PROGRAM=blastn&PAGE_TYPE=BlastSearch&LINK_LOC=blasthome";
            embedded_frame.height = website_height;
        }

        if (site == "graingenes") {
            embedded_frame.src = "https://wheat.pw.usda.gov/cgi-bin/seqserve/blast_wheat.cgi";
            embedded_frame.height = website_height;
        }

        if (site == "atgsp") {
            embedded_frame.src = "http://aegilops.wheat.ucdavis.edu/ATGSP/blast.php";
            embedded_frame.height = website_height;
        }
    }

    function open_fasta_file() {
        const reader = new FileReader();
        var file = get_file();

        if (file.name.endsWith(".fasta")) {
            reader.readAsText(file);
            reader.onload = function(e) {
                document.getElementById("ref_sequence").innerText = reader.result;
            }
        } else {
            alert("Uploaded reference sequences must be in FASTA format.");
        }
    }

    function open_xml_file() {
        const reader = new FileReader();
        var file = get_file();

        if (file.name.endsWith(".xml")) {
            reader.readAsText(file);
            reader.onload = function(e) {
                document.getElementById("non_targets").innerText = reader.result;
            }
        } else {
            alert("Nontarget file must be in XML.");
        }
    }

    function get_file() {
        var file = document.createElement("input");
        file.setAttribute("type", "file");
        file.click();
        return file.files[0];
    }

    function populate_with_length(id) {
        input = document.getElementById(id);
        length = document.getElementById("ref_sequence").textLength.toString();
        if (length > 0) {
          input.value = length;
        } else {
          input.value = 1;
        }
    }

    function toggle_pcr_condition_display(id) {
        element = document.getElementById(id);
        if (element.style.display == 'none') {
            element.style.display = 'block';
        } else {
            element.style.display = 'none';
        }
    }

</script>
{% endblock %}


{% block body %}
  {{ super() }}
  <div class="container-fluid">
    <div id="nestedloop_form">
      <form action="/nestedloop" method="post" target="">
      {{ form.hidden_tag() }}

      <div class="form-group">
        <div class="input-group">
          <button class="btn btn-info" id="upload_fasta_button" type="button" onclick="open_fasta_file()">Upload FASTA File</button> 
          {{ form.ref_sequence(type="text", class="form-control", placeholder="Reference Sequence") }}
        </div>
      </div>

      <div class="form-group">
        Specificity Checking (Recommended) <input type="checkbox" id="nontargets_checkbox" onclick="toggle_non_targets()" >
        <div id="non_target_div" style="display: none;">
          <a href="#blast">Need to perform a BLAST?</a>
          <div class="input-group">
            <button class="btn btn-info" id="upload_xml_button" type="button" onclick="open_xml_file()">Upload XML File</button> 
            {{ form.non_targets(class="form-control", rows='6', cols='80',
                placeholder="Paste non-target BLAST data here in XML format. For more information, click the 'Help' tab above.") }}
          </div>
        </div>
      </div>

      <table class="table" id="nestedloop_input_table">
        <tbody>
          <tr>
            <td>Region for Forward Primer</td>
            <td>
              <div class="container" style="display: flex; flex-direction: row; padding-left: 0;">
                <div style="padding-right: 1em">
                  <div>From</div>
                  <div>
                    {{ form.f_from(class="form-control", id="fFrom") }}
                  </div>
                </div>
                <div>
                  <div>To</div>
                  <div class="input-group">
                    {{ form.f_to(class="form-control", id="fTo") }}
                    <div class="input-group-append">
                      <button class="input-group-text btn" type="button" onclick="populate_with_length('fTo')">Max</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Region for Reverse Primer</td>
            <td>
              <div class="container" style="display: flex; flex-direction: row; padding-left: 0;">
                <div style="padding-right: 1em">
                  <div>From</div>
                  <div>
                    {{ form.r_from(class="form-control", id="rFrom") }}
                  </div>
                </div>
                <div>
                  <div>To</div> 
                  <div class="input-group">
                    {{ form.r_to(class="form-control", id="rTo") }}
                    <div class="input-group-append">
                      <button class="input-group-text btn" type="button" onclick="populate_with_length('rTo')">Max</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Amplicon Length</td>
            <td>
              <div class="container" style="display: flex; flex-direction: row; padding-left: 0;">
                <div style="padding-right: 1em">
                  Minimum {{ form.pcr_min(class="form-control", id="ampliconLengthMin") }}
                </div>
                <div>
                  Maximum {{ form.pcr_max(class="form-control", id="ampliconLengthMax") }}
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Number of Pairs to Return</td>
            <td>{{ form.num_to_return(class="form-control", style="width: 4rem") }}</td>
          </tr>
          <tr>
            <td>Melting Temperature</td>
            <td>
              <div class="container" style="display: flex; flex-direction: row; padding-left: 0;">
                <div style="padding-right: 1em">
                  Minimum {{ form.tm_min(class="form-control", id="tmMin", style="width: 4rem") }}
                </div>
                <div style="padding-right: 1em">
                  Optimum {{ form.tm_opt(class="form-control", id="tmOpt", style="width: 4rem") }}
                </div>
                <div>
                  Maximum {{ form.tm_max(class="form-control", id="tmMax", style="width: 4rem") }}
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Custom Forward Primer<br>(Optional)</td>
            <td>{{ form.forward_primer(class="form-control") }}</td>
          </tr>
          <tr>
            <td>Custom Reverse Primer<br>(Optional)</td>
            <td>
              <div class="input-group">
                {{ form.reverse_primer(type="text", class="form-control") }}
              </div>
            </td>
          </tr>
          <tr>
            <!--{{ form.nested_loop_error }}-->
          </tr>
        </tbody>
      </table>

      {% if form.errors.items() %}
        <ul class="errors">
          {% for fieldName, errorMessages in form.errors.items() %}
            {% for error in errorMessages %}
              <li>{{ error }}</li>
            {% endfor %}
          {% endfor %}
        </ul>
      {% endif %}

      {{ form.submit(class="btn btn-primary") }}

      <br>
      </form>
    </div>
  
    <div id="blast">
      <h2>BLAST</h2>
      Website
      <select id="website_selector" onchange="change_blast_site()">
        <option value=""></option>
        <option value="ncbi">NCBI</option>
        <option value="graingenes">Grain Genes Wheat</option>
        <option value="atgsp">ATGSP</option>
      </select>

      <br />

      <!-- Height is modified when the user picks a site. -->
      <iframe src="" height="0" id="embedded_blast"></iframe>

    </div>


    <!-- This modal will automatically be opened if data is returned with the
      webpage. It contains the Primer Report table. -->
    {% if pairs is defined %}
    <div class="modal fade" id="output" role="dialog">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h2>Nested Loop Primer Report</h2>
          </div>
          <div class="modal-body">
            <div id="output_table">
              <table class="table table-striped table-bordered table-sm">
                <thead>
                  <th scope="col">#</th>
                  <th scope="col">Sequence (5'->3')</th>
                  <th scope="col">Strand</th>
                  <th scope="col">Start</th>
                  <th scope="col">End</th>
                  <th scope="col">Amplicon Length</th>
                  <th scope="col">Melting Temp.</th>
                  <th scope="col">GC Content</th>
                  <th scope="col">Recommended PCR Conditions</th>
                </thead>

                <tbody>
                {% for pair in pairs %}
                <tr>
                  <th scope="row">Forward Primer {{ loop.index }}<br>
                                        Reverse Primer {{ loop.index }}</th>
                  <td>{{ pair.forward_primer.sequence }}<br>
                      {{ pair.reverse_primer.sequence }}
                  </td>
                  <td>Plus<br>Minus</td>
                  <td>{{ pair.forward_primer.start + 1 }}<br>
                      {{ pair.reverse_primer.start + 1 }}</td>
                  <td>{{ pair.forward_primer.end }}<br>
                      {{ pair.reverse_primer.end }}</td>
                  <td>{{ pair.distance }}</td>
                  <td>{{ pair.forward_primer.tm|round(2) }}<br>
                      {{ pair.reverse_primer.tm|round(2) }}</td>
                  <td>{{ (pair.forward_primer.gc*100)|round(1) }}%<br>
                      {{ (pair.reverse_primer.gc*100)|round(1) }}%</td>
                  <td style="width: 150px;"><button onclick="toggle_pcr_condition_display('pcr_conditions{{loop.index}}')">>></button>
                    <div id="pcr_conditions{{loop.index}}" class="container" style="display: none;">
                      <p><b>Additive</b></p>
                      {{ pair.additive().additive }} &#181;l / 15 &#181;l
                      <p><b>Loop 2 program:</b><pre>{{ pair.additive().pcr_temperatures }}</pre></p>
                      <p><b>Loop 2 cycle number:</b></p>
                      <p>N={{ pair.additive().n }}</p>
                    </div>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
              <div id="navigation">
                <form action="/">
                  <button style="float: left;" class="btn btn-info">Perform a New Search</button>
                </form>
                <form action="/downloadCSV" target="_blank" >
                  <button style="float: right;" class="btn btn-info">Download CSV File</button>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="modal" id="loading"></div>


  </div>
{% endblock %}
